.containerWrapper {
  padding: 20px;
  display: inline-grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.eventTitle {
  font-size: 28px;
}

.buttonContainer {
  display: flex;
  gap: 30px;
}

.eventForm label {
  display: flex;
  gap: 3px;
}
